/*================================================	
    Author     : Wian Khaerul Amri
    Document   : CSS
    Company    : PT Go Online Solusi - gositus.com
==================================================*/

@font-face {
  font-family: 'Vani';
  src: 		url('../font/Vani.eot?#iefix') format('embedded-opentype'),  
			url('../font/Vani.woff') format('woff'), 
			url('../font/Vani.ttf')  format('truetype'), 
			url('../font/Vani.svg#Vani') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Vani';
  src: 		url('../font/Vani-Bold.eot?#iefix') format('embedded-opentype'),  
			url('../font/Vani-Bold.woff') format('woff'), 
			url('../font/Vani-Bold.ttf')  format('truetype'), 
			url('../font/Vani-Bold.svg#Vani-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SonusW01-ExtraLight';
  src: 		url('../font/SonusW01-ExtraLight.eot?#iefix') format('embedded-opentype'),  
			url('../font/SonusW01-ExtraLight.woff') format('woff'), 
			url('../font/SonusW01-ExtraLight.ttf')  format('truetype'), 
			url('../font/SonusW01-ExtraLight.svg#SonusW01-ExtraLight') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Sonus-Light';
  src: 		url('../font/Sonus-Light.eot?#iefix') format('embedded-opentype'),  
			url('../font/Sonus-Light.otf')  format('opentype'),
			url('../font/Sonus-Light.woff') format('woff'), 
			url('../font/Sonus-Light.ttf')  format('truetype'), 
			url('../font/Sonus-Light.svg#Sonus-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ACaslonPro-Semibold';
  src: 		url('../font/ACaslonPro-Semibold.eot?#iefix') format('embedded-opentype'),  
			url('../font/ACaslonPro-Semibold.otf')  format('opentype'),
			url('../font/ACaslonPro-Semibold.woff') format('woff'), 
			url('../font/ACaslonPro-Semibold.ttf')  format('truetype'), 
			url('../font/ACaslonPro-Semibold.svg#ACaslonPro-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'BodoniFLF-Roman';
  src:  url('../font/BodoniFLF-Roman.eot?#iefix') format('embedded-opentype'),  
        url('../font/BodoniFLF-Roman.woff') format('woff'), 
        url('../font/BodoniFLF-Roman.ttf')  format('truetype'), 
        url('../font/BodoniFLF-Roman.svg#BodoniFLF-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}
